{% extends '@Wiki/base.wiki.html.twig' %}

{% block body %}
{{ form_start(form) }}

    <div class="buttonbox" style="float: right; margin: 0px; padding: 0px;">
        {% if wikiPage.id %}
        <a href="{{ path('wiki_page_delete', {'wikiName':  wikiPage.wiki.name, 'pageName': wikiPage.name }) }}" class="btn btn-danger" onclick="return confirm('Are you sure?')">
            <i class="fa fa-trash" aria-hidden="true"></i>
            Delete
        </a>
        {% endif %}

        <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    </div>

    <h1>{% if wikiPage.id %} Edit {% else %} Add {% endif %} Page </h1>
    <div style="clear: both;"></div>

    <fieldset>
        <legend>Info</legend>
        {{ form_widget(form) }}


    </fieldset>
    {{ form_end(form) }}
{% endblock %}


{% block scripts_custom %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/editor/0.1.0/editor.css">
    <script src="https://cdn.jsdelivr.net/editor/0.1.0/editor.js"></script>
    <script src="https://cdn.jsdelivr.net/editor/0.1.0/marked.js"></script>
    <style>
        .CodeMirror {
            border: 1px solid #ece9e9;
            min-height: 400px !important;
          }
    </style>
    <script type="text/javascript" >
        document.addEventListener('DOMContentLoaded', function() {
            var editor = new Editor({
                element: document.getElementById('wiki_page_content_content'),
              })
           editor.render();

          var content = editor.codemirror.getValue();
          contentObj = $('#wiki_page_content_content');
          $('<span id="msg" class="ml-2"></span>').insertBefore(contentObj);

          editor.codemirror.on('update', function(cm) {
             (0 == content.localeCompare(editor.codemirror.getValue()))
             ? $('#msg').html('').fadeIn(1600)
             : $('#msg').html('<label class="text-danger">(modified)</label>').fadeIn(1600);
          });

          $(document).keydown(function(event) {
            if((event.ctrlKey || event.metaKey) && event.which == 83) {
              event.preventDefault();

              var form = $(contentObj).closest('form');
              $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: JSON.stringify({content: editor.codemirror.getValue()}),
                success: function (html) {
                  $('#msg').html('<label class="text-success">(Saved)</label>').fadeOut(1600);
                  content = editor.codemirror.getValue();
                }
              });
            };
          });
        });
    </script>
{% endblock %}
