{% extends '@Wiki/base.wiki.html.twig' %}

{% block body %}

    {% if not wikiPage %}
    <center>
        <p>This page does not (yet) exist: <b>{{ pageName }}</b></p>
        <a href="{{ path('wiki_page_add', {'wikiName': wiki.name, 'pageName': pageName } ) }}" class="btn btn-success">Add now</a>
    </center>
    {% else %}
            <fieldset>
                <legend><i class="fa fa-file-o"></i> {{ wikiPage.name }}</legend>
                {% if is_granted('ROLE_SUPERUSER') or writeRole %}
                  <div class="text-right">
                    <a href="{{ path('wiki_page_edit', {'wikiName':  wikiPage.wiki.name,'pageName': wikiPage.name }) }}" class="text text-muted">
                       <i class="fa fa-edit fa-fw" aria-hidden="true"></i> Edit page
                    </a> &nbsp;
                  </div>
                {% endif %}
                <div class="mt-2">
                    {{ content|markdown }}
                </div>
            </fieldset>
        </div>
    </div>
    {% endif %}

{% endblock %}
