{% extends '@LinkORBWiki/base.wiki.html.twig' %}

{% block body %}

  <h1>{% if wikiPage.id %} Edit {% else %} Add {% endif %} Page </h1>
  <div style="clear: both;"></div>

  {{ form_start(form) }}
  <fieldset>
    <div style="text-align: right" class="p-2">
      {% if wikiPage.id %}
        <a href="{{ path('wiki_page_edit_advance', {'wikiName':  wikiPage.wiki.name,'pageName': wikiPage.name }) }}"
           class="btn btn-primary">
          <i class="fa fa-edit" aria-hidden="true"></i>
          Advanced
        </a>
      {% endif %}
      <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    </div>
    {{ form_widget(form) }}
  </fieldset>
  {{ form_end(form) }}

  {% if wikiPage.id and is_granted('delete', wikiPage) %}
    <div>
      <form action="{{ path('wiki_page_delete', {'wikiName':  wikiPage.wiki.name, 'pageName': wikiPage.name }) }}"
            method="post"
            onsubmit="return confirm('Are you sure you want to delete this page?')">
        <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}">
        <button type="submit" class="btn btn-danger">
          <i class="icon-lux-trash"></i>
          Delete
        </button>
      </form>
    </div>
  {% endif %}

{% endblock %}


{% block scripts_custom %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/editor/0.1.0/editor.css">
  <script src="https://cdn.jsdelivr.net/editor/0.1.0/editor.js"></script>
  <script src="https://cdn.jsdelivr.net/editor/0.1.0/marked.js"></script>
  <style>
    .CodeMirror {
      border: 1px solid #ece9e9;
      min-height: 400px !important;
    }
  </style>
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
      var editor = new Editor({
        element: document.getElementById('wiki_page_content_content'),
      })
      editor.render();

      var content = editor.codemirror.getValue();
      contentObj = $('#wiki_page_content_content');
      $('<span id="msg" class="ml-2"></span>').insertBefore(contentObj);

      editor.codemirror.on('update', function (cm) {
        (0 == content.localeCompare(editor.codemirror.getValue()))
          ? $('#msg').html('').fadeIn(1600)
          : $('#msg').html('<label class="text-danger">(modified)</label>').fadeIn(1600);
      });

      $(document).keydown(function (event) {
        if ((event.ctrlKey || event.metaKey) && event.which == 83) {
          event.preventDefault();

          var form = $(contentObj).closest('form');
          $.ajax({
            url: form.attr('action'),
            type: form.attr('method'),
            data: JSON.stringify({content: editor.codemirror.getValue()}),
            success: function (html) {
              $('#msg').html('<label class="text-success">(Saved)</label>').fadeOut(1600);
              content = editor.codemirror.getValue();
            }
          });
        }
        ;
      });
    });
  </script>
{% endblock %}
