{% extends '@LinkORBWiki/base.wiki.html.twig' %}

{% block title %}Wiki: {{ wiki.name }} :Pages {% endblock %}

{% block body %}
    <h1>All pages in this wiki</h1>

    <div class="row">
      <div class="col-md-12">
        <fieldset>
          <table class="table tree">
            <thead>
              <tr>
                <th>Name</th>
              </tr>
            </thead>
              <tbody>
                {% macro macroTree(wikiPages, wiki) %}

                  {% import _self as macros %}

                  {% for wikiPage in wikiPages %}
                      <tr class="treegrid-{{ wikiPage.id}} {% if wikiPage.parentId %}  treegrid-parent-{{ wikiPage.parentId }}  {% endif %}" >
                        <td>
                          <i class="fa fa-file-o"></i>
                          <a href="{{ path('wiki_page_view',{'wikiName': wiki.name, 'pageName': wikiPage.name}) }}">
                              {{ wikiPage.name }}
                          </a>
                        </td>
                      </tr>

                      {% if wikiPage.getChildPages() %}
                        {{ macros.macroTree( wikiPage.getChildPages(), wiki) }}
                      {% endif %}

                  {% else %}
                      <tr>
                          <td colspan="5">no pages found</td>
                      </tr>
                  {% endfor %}

                {% endmacro %}

                {% import _self as macros %}
                {{ macros.macroTree(wikiPages, wiki) }}
              </tbody>
          </table>
        </fieldset>
      </div>
    </div>
{% endblock %}
