{% extends '@LinkORBNebula/module/base.html.twig' %}

{% block context_header_actions %}
  {% if wikiPage and is_granted('modify', wiki) %}
    <a href="{{ path('wiki_page_edit', {'wikiName': wikiPage.wiki.name, 'pageName': wikiPage.name}) }}" class="btn btn-sm btn-outline-primary">
      <i class="icon-lux-edit me-1"></i> Edit
    </a>
  {% endif %}
{% endblock %}

{% block context_content %}
  {% if not wikiPage %}
    <div class="text-center py-5">
      <p class="lead">This page does not (yet) exist: <strong>{{ pageName }}</strong></p>
      {% if is_granted('modify', wiki) %}
        <a href="{{ path('wiki_page_add', {'wikiName': wiki.name, 'pageName': pageName}) }}" class="btn btn-success">
          <i class="icon-lux-add me-1"></i> Create Page
        </a>
      {% endif %}
    </div>
  {% else %}
    <div class="wiki-page-content">
      <h1 class="mb-4">{{ wikiPage.name }}</h1>
      <div class="wiki-content">
        {{ contentHtml|raw }}
      </div>
    </div>

    {% if wikiPage.wiki.hasAccessControlExpression %}
      <div class="mt-4 small text-muted">
        <i class="icon-lux-lock me-1"></i> Restricted to <code>{{ wikiPage.wiki.getAccessControlExpression }}</code>
      </div>
    {% endif %}
  {% endif %}
{% endblock %}

