{% extends '@LinkORBNebula/module/base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block context_content %}
  {{ form_start(form) }}
    <div class="row g-3 mb-4">
      <div class="col-md-6">
        {{ form_widget(form.search) }}
      </div>
      <div class="col-md-3">
        {{ form_widget(form.wikiName) }}
      </div>
      <div class="col-md-3">
        <button class="btn btn-primary">
          <i class="icon-lux-search me-1"></i> {{ button_label|default('Search') }}
        </button>
        <a href="{{ path('wiki_search') }}" class="btn btn-secondary">
          <i class="icon-lux-x me-1"></i> Clear
        </a>
      </div>
    </div>
  {{ form_end(form) }}

  {% if app.request.query.has('search') %}
    {% if wikiPages %}
      <table class="table">
        <thead>
          <tr>
            <th>Wiki / Page</th>
            <th>Relevance</th>
          </tr>
        </thead>
        <tbody>
          {% for wikiPage in wikiPages %}
            <tr>
              <td>
                <i class="icon-lux-article me-2"></i>
                {{ wikiPage.wiki.name }} /
                <a class="fw-bold" href="{{ path('wiki_page_view', {'wikiName': wikiPage.wiki.name, 'pageName': wikiPage.name}) }}">
                  {{ wikiPage.name }}
                </a>
              </td>
              <td>{{ wikiPage.points }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="alert alert-info">
        <i class="icon-lux-info me-2"></i> No results found
      </div>
    {% endif %}
  {% endif %}
{% endblock %}
