{% extends '@Wiki/base.html.twig' %}

{% block title %}Wiki {% endblock %}

{% block body %}
    <h1>Wiki</h1>

    <div class="buttonbox" >
        <a href="{{ path('wiki_add') }}" class="btn btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add
        </a>
    </div>

    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th width="30%" >Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for wiki in wikis %}
                        <tr>
                            <td>{{ wiki.id }}</td>
                            <td>{{ wiki.name }}</td>
                            <td>{{ wiki.description }}</td>
                            <td>
                                <a href="{{ path('wiki_edit', {'wikiName': wiki.name}) }}" class="btn btn-sm btn-primary">
                                    <i class="fa fa-edit"></i> Edit
                                </a>
                                <a href="{{ path('wiki_delete', {'wikiName': wiki.name}) }}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?')" >
                                    <i class="fa fa-trash"></i> Delete
                                </a>
                                <a href="{{ path('wiki_page_index', {'wikiName': wiki.name}) }}" class="btn btn-sm btn-success">
                                    <i class="fa fa-files-o"></i> Pages
                                </a>
                                <a href="{{ path('wiki_event_index', {'wikiName': wiki.name}) }}" class="btn btn-sm btn-success">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        Events
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>

{% endblock %}
