{% extends 'base.html.twig' %}

{% block title %}Wiki: {{ wiki.name }} :Events {% endblock %}

{% block body %}
    <h1>Wiki: {{ wiki.name }} :Events</h1>

    <div class="buttonbox" >
        <a href="{{ path('wiki_index') }}"   class="btn btn-primary" >
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            Back
        </a>
    </div>

    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Type</th>
                            <th>Created At</th>
                            <th>Created By</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for wikiEvent in wikiEvents %}
                        <tr>
                            <td>{{ wikiEvent.id }}</td>
                            <td>{{ wikiEvent.type }}</td>
                            <td>{{ wikiEvent.createdAt|date() }}</td>
                            <td>{{ wikiEvent.createdBy }}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td colspan="3" >{{ wikiEvent.data }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>

{% endblock %}
